* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.logo-circle {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

nav a.active {
  color: red;
  font-weight: 600;
}

.btn-red {
  background: rgb(255, 255, 255);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* HERO */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    100deg,
    rgba(245, 242, 242, 0.9) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 75%
  );
  z-index: 1;
}
.hero {
  margin-top: 0px;
  position: relative;
  height: 90vh;
  overflow: hidden;
  z-index: 0;
}
/* CARRUSEL */
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

/* OVERLAY TEXTO */
.overlay {
  position: relative;
  top: 25%;
  left: 8%;
  max-width: 500px;
  color: black;
  z-index: 2;
}

.overlay h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

.overlay h1 span {
  color: red;
}

.overlay p {
  margin: 15px 0;
  color: #444;
}

.btn-main {
  background: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  display: inline-block;
  background: #ccc;
  border-radius: 50%;
}

.dot.active {
  background: red;
}

/* CARDS */
.cards {
  margin: 50px;
  padding: 60px;
  text-align: center;
}

.grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
