.hero {
  position: relative;
  overflow: hidden;
  padding: var(--espacio-2xl) 0 var(--espacio-xl);
  background: var(--gradiente-suave);
}

/* Estilos Globales */
:root {
  --color-claro: #da291c; /* Color rojo de Claro */
  --color-texto: #fffffff5;
  --color-subtitulo: #666;
  --fuente-principal:
    "Claro", sans-serif; /* Nombre hipotético, reemplaza por la real */
}

body {
  font-family: var(--fuente-principal);
  margin: 0;
  color: var(--color-texto);
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 .resaltado {
  color: var(--color-claro);
}

.subtitle {
  font-size: 1.25rem;
  color: var(--color-subtitulo);
  margin-top: 0;
  margin-bottom: 2rem;
}

/* Sección Hero */
/*.hero {
  position: relative;
  padding: 0 0;
  height: 600px;
  width: 100%;
  overflow: hidden;
}*/
.hero {
  background-image: url("../images/portada.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
.hero-text {
  position: absolute;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero-content::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: var(--color-texto);
} /* Botones */
.btn {
  background-color: var(--color-claro);
  color: #fff;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b12017; /* Un rojo más oscuro al pasar el ratón */
}
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
  }

  .hero-img img {
    width: 100%;
  }
}
