.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: white;
  padding: 30px;
  margin: 10% auto;
  width: 300px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

.miembro {
  cursor: pointer;
  transition: transform 0.3s;
}

.miembro:hover {
  transform: scale(1.05);
}

button {
  background: #e60000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

#mensaje {
  color: green;
}
